body{
	background-color: #095494;
}
*{margin:0;padding:0;}
#wrapper{
width:600px;
margin:auto;
}
#login{
	width:400px;
	height:auto;
	border:thin solid #CCC;
	border-radius:8px;
	padding:10px 20px 20px 20px;
	margin:100px auto;
	background-color: rgba(250,250,250,1);
}
#login h3{
	text-align: center;
	font-size: 34px;
	color:#095494;
	margin: 0 0 15px 0;
}
#login table{
	width: 100%;
}
#login table tr td{
	padding: 10px;
}
#login span {
	color:#999;
}
#login input{
width: 97%;
height:25px;
margin:10px 0 0 0;
border:solid thin #ccc;
padding: 5px;
}
#login button{
	width: 30%;
	height: 40px;
	padding: 6px 20px 10px 20px;
	background-color: #095494;
	border:none;
	color: white;
	font-size: 24px;
	float: left;
}
#login button:hover{
	background-color: #127cba;
}
#login tr td p{
	float: right;
	margin: 22px 0 0 0;
}
#login a{
	text-decoration: none;
	color: blue;
	margin: 0 0 0 110px;
}
#login a:hover{
	color: red;
}
#wrapper h4{
	text-align: center;
	color: red;
	padding: 0px;
	font-size: 14px;
}

#wrapper h4 span{
	width: 30px;
	float: left;
	color: #ccc;
	font-size: 24px;
	font-weight: bold;
	background-color: #666;
}
#wrapper h4 p{
	text-align: center;
	margin: 5px 0 0 30px;
	color: #095494;
}
/*register*/
#register{
	width: 400px;
	float: left;
	margin: 100px 0 0 0;
	background-color: rgba(250,250,250,0.5);
	padding: 20px;
}
#register h4{
	margin: 0 0 10px 0;
}
#register input{
	width: 300px;
	height: 30px;
	padding: 5px;
	margin: 0 0 20px 0;
}
#register button{
	padding: 5px ;
}